<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>createacc</servlet-name>
        <servlet-class>com.controller.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>com.controller.order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Packag</servlet-name>
        <servlet-class>com.controller.Packag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delet_ord</servlet-name>
        <servlet-class>com.controller.delet_ord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List_cost</servlet-name>
        <servlet-class>com.controller.List_cost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buy_package</servlet-name>
        <servlet-class>com.controller.Buy_package</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_pacid</servlet-name>
        <servlet-class>com.controller.get_pacid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Creat_date_t</servlet-name>
        <servlet-class>com.controller.Creat_date_t</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.controller.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Del_package</servlet-name>
        <servlet-class>com.controller.Del_package</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ord</servlet-name>
        <servlet-class>com.controller.Ord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_package</servlet-name>
        <servlet-class>com.controller.Edit_package</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Book_ind</servlet-name>
        <servlet-class>com.controller.Book_ind</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Package</servlet-name>
        <servlet-class>com.controller.Package</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_trav</servlet-name>
        <servlet-class>com.controller.Edit_trav</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_tr</servlet-name>
        <servlet-class>com.controller.Edit_tr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>My_book</servlet-name>
        <servlet-class>com.controller.My_book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Del_my_bok</servlet-name>
        <servlet-class>com.controller.Del_my_bok</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confi</servlet-name>
        <servlet-class>com.controller.Confi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confii</servlet-name>
        <servlet-class>com.controller.Confii</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createacc</servlet-name>
        <url-pattern>/CreateAccount-page</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.controller.loginn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Packag</servlet-name>
        <url-pattern>/Packag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delet_ord</servlet-name>
        <url-pattern>/delet_ord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>List_cost</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Creat_date_t</servlet-name>
        <url-pattern>/Creat_date_t</url-pattern>
    </servlet-mapping>
    <!--    <welcome-file-list>
        <welcome-file></welcome-file>
    </welcome-file-list>-->
    <servlet-mapping>
        <servlet-name>Buy_package</servlet-name>
        <url-pattern>/Buy_package</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_pacid</servlet-name>
        <url-pattern>/get_pacid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Del_package</servlet-name>
        <url-pattern>/Del_package</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ord</servlet-name>
        <url-pattern>/Ord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_package</servlet-name>
        <url-pattern>/Edit_package</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Book_ind</servlet-name>
        <url-pattern>/Book_ind</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Package</servlet-name>
        <url-pattern>/Package</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_trav</servlet-name>
        <url-pattern>/Edit_trav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_tr</servlet-name>
        <url-pattern>/Edit_tr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>My_book</servlet-name>
        <url-pattern>/My_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Del_my_bok</servlet-name>
        <url-pattern>/Del_my_bok</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confi</servlet-name>
        <url-pattern>/Confi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confii</servlet-name>
        <url-pattern>/Confii</url-pattern>
    </servlet-mapping>
</web-app>
